* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #0b0f19;
  color: #fff;
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 7%;
  background: rgba(49, 71, 125, 0.8);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(143, 182, 200, 0.06);
}

.logo {
  font-size: 24px;
  font-weight: 700;
}
.logo span {
  color: #b7a9ce;
}

nav a {
  color: #cbd5e1;
  margin-left: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #fff;
}

.btn-nav {
  padding: 8px 15px;
  background: #7c3aed;
  border-radius: 10px;
  color: white !important;
}

/* Hero */
.hero {
  display: flex;
  padding: 80px 7%;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-left {
  max-width: 600px;
}

.tagline {
  color: #7c3aed;
  font-weight: 600;
  margin-bottom: 10px;
}

.hero h1 {
  font-size: 45 px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.highlight {
  color: #7c3aed;
}

.subtitle {
  color: #c66843;
  margin-bottom: 25px;
  line-height: 1.6;
}

.hero-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.btn-primary {
  background: #7c3aed;
  padding: 12px 18px;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.btn-primary:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

.btn-secondary {
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 12px 18px;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.stats {
  display: flex;
  margin-top: 30px;
  gap: 15px;
  flex-wrap: wrap;
}

.stat-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 14px 18px;
  border-radius: 14px;
  min-width: 140px;
}

.stat-card h3 {
  font-size: 26px;
  color: #fff;
}

.stat-card p {
  color: #cbd5e1;
}

/* Profile Card */
.profile-card {
  background: rgba(255, 255, 255, 0.06);
  padding: 25px;
  border-radius: 18px;
  text-align: center;
  width: 280px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.profile-card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #7c3aed;
  margin-bottom: 15px;
}

.profile-card p {
  color: #cbd5e1;
  margin-top: 8px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 18px;
}

.social a {
  color: #7c3aed;
  text-decoration: none;
  font-weight: 600;
}

/* Sections */
.section {
  padding: 70px 7%;
}

.dark {
  background: #070a12;
}

.section-title {
  margin-bottom: 35px;
}

.section-title h2 {
  font-size: 32px;
}

.section-title p {
  color: #cbd5e1;
  margin-top: 8px;
}

/* Cards Grid */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 18px;
}

.card {
  background: rgba(255, 255, 255, 0.06);
  padding: 22px;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-4px);
}

.score-num {
  font-size: 26px;
  color: #7c3aed;
  margin: 10px 0;
}

/* Skills */
.skills-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 18px;
}

.skill-box h3 {
  margin-bottom: 12px;
}

.pill {
  display: inline-block;
  padding: 8px 12px;
  background: rgba(124, 58, 237, 0.12);
  margin: 6px 6px 0 0;
  border-radius: 999px;
  color: #cbd5e1;
  font-weight: 600;
  font-size: 14px;
}

/* Projects */
.project-links {
  margin-top: 14px;
  display: flex;
  gap: 12px;
}

.project-links a {
  text-decoration: none;
  color: #cbd5e1;
  font-weight: 600;
}

.project-links .live {
  color: #7c3aed;
}

/* Resume */
.resume-box {
  text-align: center;
  padding: 30px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 18px;
}

.resume-box p {
  margin-bottom: 18px;
  color: #cbd5e1;
}
